<a href="https://colab.research.google.com/github/pratikshas8080/Python_Crash_Course-2nd_Edition/blob/main/10_Basic_Tip_While_Run_python_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#In-Place Swapping Of Two Numbers
x, y = 10, 20
print(x, y) 
x, y = y, x 
print(x, y)

10 20
20 10

In [2]:
#Reversing a string in Python
a = "Pratiksha"
print("Reverse is", a[::-1])

Reverse is ahskitarP

In [4]:
#Create a single string from all the elements in list
a = ["Pratiksha", "Balaji", "Sawandkar"] 
print(" ".join(a))

Pratiksha Balaji Sawandkar

In [5]:
#Chaining Of Comparison Operator
n = 10
result = 1 < n < 20
print(result) 
result = 1 > n <= 9
print(result)

True
False